body {
    background-color:rgb(19, 19, 17)!important;
    /* background-color: black!important; */
    /* background-color:white!important; */
}

table {
    border-collapse: separate !important;
}

.availableuserspage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.userinfo em {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.useritems {
    border:5px solid;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-color: #2ea44f;
    color: white;
    background-color: rgb(9, 24, 19);
    text-align: center;
}

.availableusersheader{
    border:4px solid #2ea44f;
    border-radius: 10px;
    padding: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(9, 24, 19);
    color: white;
}

.userinfo {
    border: 1px solid;  
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-color: rgb(64, 166, 250);
    color: white;
    background-color: rgb(9, 24, 19);
    text-align: center;
}



.btn {
    background-color: red;
}