

.cartitems {
    border:5px solid;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-color: #2ea44f;
    background-color: rgb(9, 24, 19);
    color: white;
        

}

.cartitems img{
    
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
    
}

.cartpage {
    display: flex;
    flex-wrap: wrap;
}

.masterdiv {
    background-color: rgb(19, 19, 17)
} 