.signinpage{

    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    align-items: center;

}
    .signinbox {
        width: 30vw;
        /* align-items: center; */
        text-align: center;
        border:5px solid;
        padding: 10px;
        /* margin: 5px; */
        border-radius: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        font-weight: bold;
        border-color: #2ea44f;
        background-color: rgb(9, 24, 19);
        color: white;
}

.signinheader{
    border:5px solid;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-color: #2ea44f;
    background-color: rgb(9, 24, 19);
    color: white;

}